.paginate {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.page {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  color: hsl(252, 85%, 55%);
}

.page:hover {
  background-color: hsl(252, 80%, 80%);
  color: white;
}

.active {
  color: white;
  background-color: hsl(252, 85%, 55%);
}

.prev {
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  color: hsl(252, 85%, 55%);
}

.next {
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  color: hsl(252, 85%, 55%);
}

.prev:active,
.next:active {
  background-color: hsl(252, 85%, 55%);
  color: white;
}

.disabled {
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  color: rgb(187, 186, 186)
}